.about-container {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 600px;
    display: flex;
}
.about-container > div > p > span {
    color: #18ffff;
}
.text-section {
    width: 50%;
}
.about-image-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px
}
.aboutH1 {
    font-weight: 900;
    font-size: 4.5rem;
    padding-bottom: 20px;
}
.aboutH2 {
    font-family: monospace;
    color: #18ffff;
    padding-bottom: 20px;
    font-size: 1rem;
}
.aboutP {
    font-size: 1rem;
    color: #bababa;
    font-weight: 300;
    line-height: 1.5rem;
    text-align: justify;
    padding-bottom: 15px;
}
.about-svg {
    width: 300px;
    min-width: 250px;
    height: auto;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 20px 0;
}
.skills-list > li {
    padding: 10px 10px 10px 0;
}
.skills-chip {
    line-height: 1.2rem;
}
.skills-chip > svg {
    fill: white;
}

@media screen and (max-width: 1000px) {
    .about-container  {
      flex-wrap: wrap;
      padding: 0 20px 0 20px;
    }
    .text-section {
        width: 100%;
        min-width: 450px;
        margin: auto;
    }
    .aboutP {
        width: 100%;
        margin: auto;
        padding-right: 0px;
    }
    .about-image-container {
        min-width: 250px;
        width: 200px;
        margin-top: 50px; 
        padding-top: 0;   
    }
    .about-svg {
        width: 100%;
    }
}