.body-container {
    background-color: #121212;
    color: white;
    height: 100vh;
}

.content-section {
    max-width: 1488px;
    padding-top: 100px;
    margin: auto;
}
main > h2 {
    font-family: Roboto;
    color: #bababa;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 10px;
}